agm-map {
  height: 100vh;
}

#results {
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  opacity: 1;
}
#marker {
  position: absolute;
  z-index: 1;
  bottom: 5px;
  right: 5px;
  opacity: 1;
  margin-bottom: 0px;
}
.tag {
  font-size: 0.82rem !important;
}
* {
  font-size: 0.7rem;
}
