<div id="marker" class="box">
  <div>Radius: {{ radius / 1000 | number: "1.2-2" }} km</div>
  <div>Latitude: {{ lat | number: "1.4-4" }}</div>
  <div>Longitude: {{ lng | number: "1.4-4" }}</div>
</div>

<div id="results" class="box">
  <div class="field is-grouped">
    <div class="control is-expanded">
      <input
        class="input is-primary"
        type="text"
        (keyup)="searchInput($event)"
        placeholder="Search"
      />
    </div>
    <div class="control">
      <div class="tag is-primary is-big">
        {{ customersWithinRange.length }}
      </div>
    </div>
  </div>

  <table
    class="table is-narrow is-hoverable"
    *ngIf="customersWithinRange.length != 0"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <!-- <th>Latitude</th>
        <th>Longitude</th> -->
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr
        style="cursor: pointer;"
        *ngFor="let customer of (customersWithinRange | selectFive)"
        (click)="setActive(customer)"
      >
        <td>{{ customer.Firstname }}</td>
        <td>{{ customer.Surname }}</td>
        <!-- <td>{{ customer.Lat | number: "1.2-2" }}</td>
        <td>{{ customer.Long | number: "1.2-2" }}</td> -->
        <td>{{ customer.Distance | number: "1.1-1" }} km</td>
      </tr>
    </tbody>
  </table>

  <div class="level">
    <div class="level-left" *ngIf="customersWithinRange.length > 5">
      {{ customersWithinRange.length - 5 }} more results..
    </div>
    <div class="level-right">
      <button
        *ngIf="!showModal"
        class="button is-primary"
        (click)="toggleModal()"
      >
        View Full List
      </button>
    </div>
  </div>
</div>

<div *ngIf="customerList">
  <agm-map
    [latitude]="-33.9328"
    [longitude]="18.4172"
    [zoom]="10"
    [disableDoubleClickZoom]="true"
    [gestureHandling]="false"
    [streetViewControl]="false"
    [zoomControl]="false"
  >
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="eventIcon">
    </agm-marker>

    <agm-marker
      *ngFor="let customer of customerList"
      [latitude]="customer.Lat"
      [longitude]="customer.Long"
      [opacity]="customer.Distance <= radius / 1000 ? 1 : 0.5"
      [iconUrl]="userIcon"
      [markerClickable]="false"
    >
      <agm-info-window [isOpen]="customer.isActive">
        <strong>{{ customer.Firstname }} {{ customer.Surname }}</strong>
        <div>Distance: {{ customer.Distance | number: "1.2-2" }} Km</div>
        <div>Lat: {{ customer.Lat | number: "1.4-4" }}</div>
        <div>Long: {{ customer.Long | number: "1.4-4" }}</div>
      </agm-info-window>
    </agm-marker>

    <agm-circle
      (centerChange)="refreshCircle($event)"
      (radiusChange)="updateCircleRadius($event)"
      [latitude]="lat"
      [longitude]="lng"
      [radius]="radius"
      [fillColor]="'black'"
      [fillOpacity]="0.4"
      [circleDraggable]="true"
      [editable]="true"
    >
    </agm-circle>
  </agm-map>

  <div class="modal" [ngClass]="showModal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title  is-primary">Customers within range:</p>
        <button
          class="delete"
          aria-label="close"
          (click)="toggleModal()"
        ></button>
      </header>
      <section class="modal-card-body">
        <table
          style="width:100%"
          class="table is-narrow is-hoverable"
          *ngIf="customersWithinRange.length != 0"
        >
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Distance</th>
            </tr>
          </thead>
          <tbody>
            <tr
              style="cursor: pointer;"
              *ngFor="let customer of customersWithinRange"
            >
              <td>{{ customer.Firstname }}</td>
              <td>{{ customer.Surname }}</td>
              <td>{{ customer.Lat | number: "1.2-2" }}</td>
              <td>{{ customer.Long | number: "1.2-2" }}</td>
              <td>{{ customer.Distance | number: "1.1-1" }} km</td>
            </tr>
          </tbody>
        </table>

        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <button
              *ngIf="showModal"
              class="button is-primary"
              (click)="toggleModal('rick')"
            >
              Invite List
            </button>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
