<router-outlet></router-outlet>
<div class="info">
  <div>Radius: {{ radius / 1000 | number }}Km</div>
  <div>Lat: {{ lat | number }}</div>
  <div>Long: {{ lng | number }}</div>
  <div>
    Fuzzy Search
    <input type="text" (keyup)="searchInput($event)" />
  </div>

  <div>Customers within Search: {{ customerList.length | json }}</div>
  <div>Customers Within Range: {{ customersWithinRange.length | json }}</div>
</div>

<div *ngIf="customerList">
  <agm-map
    [latitude]="this.customerList[0]?.Lat"
    [longitude]="this.customerList[0]?.Long"
    [zoom]="11"
  >
    <agm-marker
      *ngFor="let customer of customerList"
      [latitude]="customer.Lat"
      [longitude]="customer.Long"
      [opacity]="customer.Distance <= radius / 1000 ? 1 : 0.5"
      [iconUrl]="userIcon"
    >
      <agm-info-window>
        <strong>{{ customer.Firstname }} {{ customer.Surname }}</strong>

        <div>Distance: {{ customer.Distance | number }} Km</div>
        <div>Lat: {{ customer.Lat }}</div>
        <div>Long: {{ customer.Long }}</div>
      </agm-info-window>
    </agm-marker>

    <agm-marker
      *ngFor="let customer of customerList"
      [latitude]="lat"
      [longitude]="lng"
      [opacity]="customer.Distance <= radius / 1000 ? 1 : 0.4"
      [iconUrl]="eventIcon"
      [markerClickable]="false"
    >
    </agm-marker>

    <agm-circle
      (centerChange)="refreshCircle($event)"
      (radiusChange)="updateCircleRadius($event)"
      [latitude]="lat"
      [longitude]="lng"
      [radius]="radius"
      [fillColor]="'black'"
      [fillOpacity]="0.1"
      [circleDraggable]="true"
      [editable]="true"
    >
    </agm-circle>
  </agm-map>

  <table style="width:100%" *ngIf="customersWithinRange.length != 0">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Distance</th>
    </tr>
    <tr *ngFor="let customer of customersWithinRange">
      <td>{{ customer.Firstname }}</td>
      <td>{{ customer.Surname }}</td>
      <td>{{ customer.Lat }}</td>
      <td>{{ customer.Long }}</td>
      <td>{{ customer.Distance | number }}Km</td>
    </tr>
  </table>
</div>
