<router-outlet></router-outlet>

<div id="marker" class="box">
  <div>Radius: {{ radius / 1000 | number: "1.2-2" }} km</div>
  <div>Latitude: {{ lat | number: "1.4-4" }}</div>
  <div>Longitude: {{ lng | number: "1.4-4" }}</div>
</div>

<div id="results" class="box">
  <div class="field is-grouped">
    <div class="control is-expanded">
      <input
        class="input is-primary"
        type="text"
        (keyup)="searchInput($event)"
        placeholder="Search"
      />
    </div>
    <div class="control">
      <div class="tag is-primary is-big">
        {{ customersWithinRange.length }}
      </div>
    </div>
  </div>

  <table
    class="table is-narrow is-hoverable"
    *ngIf="customersWithinRange.length != 0"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customersWithinRange">
        <td>{{ customer.Firstname }}</td>
        <td>{{ customer.Surname }}</td>
        <td>{{ customer.Lat | number: "1.2-2" }}</td>
        <td>{{ customer.Long | number: "1.2-2" }}</td>
        <td>{{ customer.Distance | number: "1.1-1" }} km</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="customerList">
  <agm-map
    [latitude]="-33.925788"
    [longitude]="18.581984"
    [zoom]="10"
    [disableDoubleClickZoom]="true"
    [gestureHandling]="false"
    [streetViewControl]="false"
    [zoomControl]="false"
  >
    <agm-marker
      *ngFor="let customer of customerList"
      [latitude]="customer.Lat"
      [longitude]="customer.Long"
      [opacity]="customer.Distance <= radius / 1000 ? 1 : 0.5"
      [iconUrl]="userIcon"
    >
      <agm-info-window [isOpen]="customer?.isActive">
        <strong>{{ customer.Firstname }} {{ customer.Surname }}</strong>

        <div>Distance: {{ customer.Distance | number: "1.2-2" }} Km</div>
        <div>Lat: {{ customer.Lat | number: "1.4-4" }}</div>
        <div>Long: {{ customer.Long | number: "1.4-4" }}</div>
      </agm-info-window>
    </agm-marker>

    <agm-marker
      *ngFor="let customer of customerList"
      [latitude]="lat"
      [longitude]="lng"
      [opacity]="customer.Distance <= radius / 1000 ? 1 : 0.4"
      [iconUrl]="eventIcon"
      [markerClickable]="false"
    >
    </agm-marker>

    <agm-circle
      (centerChange)="refreshCircle($event)"
      (radiusChange)="updateCircleRadius($event)"
      [latitude]="lat"
      [longitude]="lng"
      [radius]="radius"
      [fillColor]="'black'"
      [fillOpacity]="0.1"
      [circleDraggable]="true"
      [editable]="true"
    >
    </agm-circle>
  </agm-map>
</div>
